%ul{"data-role" => "listview"}
  - @models.each do |m|
    - if not m=~/HABTM/ and not m=~/\:\:/
      %li
        = m
        %span.ui-li-count
          - if not m=~/HABTM/
            - clazz = "#{m}".constantize
            = clazz.count
