// для Модала при создании

// Уведомление 
var kinodom_#{@kinodom_id}_show = function(){ new PNotify({ title: "Запись #{@kinodom.name} создана.", type: 'success', icon: false, hide: true, delay: 1500, buttons: { sticker: false } })};
kinodom_#{@kinodom_id}_show();

// Добавление в dataTables
// $('#dataTables_kinodom').append("#{j render partial: 'kinodoms/dataTable/index_td', locals: {kinodom: @kinodom }}");



// Вызов функции Модала
$('#new_kinodom_modal').modal_success();
